body {
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

/*.container-slike {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(17, 1fr);
  gap: 5px;
}*/

/*.container-slike img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
